body {


    margin: 0;
    padding: 0;
    background-color: hsl(270, 20%, 96%);
    position: relative;

    font-family: Rubik;
}

.div-purple {
    background: hsl(276, 100%, 81%);
    background: linear-gradient(0deg, hsl(264, 100%, 61%) 03%, hsl(293, 100%, 63%) 100%);
    height: 43rem;
    width: 30rem;
    border-bottom-left-radius: 40rem;
    border-bottom-right-radius: 40rem;
    margin-left: -9rem;
}

.container-mobile {
    height: 33rem;
    width: 16rem;
    background-color: hsl(270, 20%, 96%);
    position: absolute;
    top: 6rem;
    left: 17rem;

    border-radius: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 10px solid white;

    box-shadow: 2px 20px 12px lightgray;
}

.notch {
    position: absolute;
    background-color: white;
    width: 9rem;
    height: 1.5rem;
    top: 0rem;
    left: 22%;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.top-background-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;
    gap: .5rem;

    background: rgb(125, 80, 209);
    background: linear-gradient(90deg, rgb(125, 79, 211) 15%, rgba(179, 31, 227, 1) 70%);

    height: 4rem;
    width: 100%;

    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;

    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;


}

.div-icon-profilepic {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.img-arrow {
    width: .8rem;
    height: .9rem;
    margin-left: 1rem;
}

.img-profile {
    width: 1.7rem;
    border-radius: 2rem;
    vertical-align: middle;
    border: 2px solid rgb(236, 236, 236);
}

.div-profileName-status {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;


}

.p-profileName {
    font-size: .8em;
    margin: 0;
    color: white;
    font-weight: 600;
}

.p-profileStatus {
    margin: 0;
    font-size: .6em;
    color: hsl(276, 100%, 81%);
    font-weight: 600;

}

.img-dotsMenu {
    vertical-align: middle;
    height: .8rem;
    width: .8rem;
    margin-left: 4.2rem;
}

.section-chat-container {
    margin: 15px 10px;
}

.div-chat-left {
    background-color: hsl(289, 28%, 92%);
    width: 10rem;
    border-radius: .7rem;
}

.p-chat-left {
    color: hsl(276, 55%, 52%);
    font-size: .6em;
    padding: 5px 10px;
    line-height: 1.3em;
}

.div-chat-three {
    display: flex;
    justify-content: end;
    gap: .5rem;
    margin-bottom: 10px;
}

.img-chat {
    width: 2.5rem;
    border-radius: .5rem;
}

.div-chat-four {
    margin-left: 4.6rem;
    display: flex;
    justify-content: end;
    background-color: white;
    border-radius: .7rem;
    border-bottom-right-radius: .2rem;
    width: 10rem;
    margin-bottom: 10px;
}


.p-chat-right {
    font-size: .6em;
    color: hsl(271, 15%, 43%);
    margin: 0;
    padding: 5px 10px;

}

.div-chat-five {
    margin-left: 8.6rem;
    display: flex;
    justify-content: end;
    background-color: white;
    border-radius: .7rem;
    border-bottom-right-radius: .2rem;
    width: 6rem;
    margin-top: 10px;
}


.circle {
    width: .7rem;
    height: .7rem;
    border-radius: 1rem;
    border: 1px solid rgb(223, 220, 220);
    margin-left: 10px;
   
}
.p-chat-right-gradiant{
    font-size: .6em;
    font-weight: 600;
    color: rgb(226, 214, 197);
}
.p-price {
    font-weight: 600;
    color: white;
    font-size: .9em;
    margin-left: 35px;
}
.div-chat-left-gradiant {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    
    margin-bottom: 10px;
    width: 12rem;
    border-radius: .9rem;
    background: rgb(225, 66, 255);
    background: linear-gradient(90deg, rgba(225, 66, 255, 1) 6%, rgba(145, 57, 255, 1) 64%);
}

.div-input-text{
    margin-top: 15px;
    
}
input {
    border-radius: 20px;
    border: none;
    background-color: white;
    padding: 10px 20px;
    width: 12.1rem;
    
}

input::placeholder {
    font-size: .7em;
    font-family: Rubik;
    color: rgb(199, 199, 199);
}